/* ÃÊ±âÈ­ */
* {margin: 0; padding: 0; box-sizing:border-box;}
a {text-decoration: none;}
li {list-style: none;}
img {display: block; border: 0;}
h1, h2, h3, h4, h5, h6, a, p, td, th{color: #333; font-family: 'Nanum Myeongjo', serif;}
.clearfix::after, .clearfix::before {display: block; content: ''; clear: both;}

/* ·¹ÀÌ¾Æ¿ô */
#haderWrap {text-align: center; width: 100%; height: 90px; background: #f7f7f7;}
.section_wrap {margin: 0 auto; width: 1200px;}



/* Çì´õ */
#header {display: inline-block; 
        position: relative; 
        width: 1280px; 
        height: 90px;}
#header h1 {
    position: absolute; 
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);}
#header #lnb {
    position: absolute; 
    top: 0; 
    right: 25px;}
#header #lnb li {
    float: left;}
#header #lnb li a {
    display: block; 
    padding: 10px; 
    font-size: 13px; 
    font-family: 'Noto Sans KR', sans-serif; 
    font-weight: 300; 
    transition: all 0.2s ease-in-out; 
    color: #99807e;}
#header #lnb li a:hover {
    color : #ff8f2f;}
#header #lnb li a b {
    color: #d6cfcd;}

#header #gnb {
    position: absolute; 
    top: 50px; 
    right: 125px;}
#header #gnb li {
    float: left;}
#header #gnb li a {
    display: block; 
    padding: 0 20px; 
    font-weight: 700; 
    transition: all 0.2s ease-in-out; 
    color: #d6cfcd;}
#header #gnb li a:hover {
    color : #ff8f2f;}


/* top section */
#top {
    overflow: hidden; 
    width: 100%; 
    height: 700px;
}
#top #bg {
    width: 100%; 
    height: 100%; 
    background:no-repeat fixed;
    background-position: 50%;
    background-size: cover;
}
#top #bg h4 {
    position: relative;
    text-align: center;
    top: 150px;
    left: 400px;
    font-size: 50px;
    font-weight: 900;
    color: #585858;
    
}
#top #bg h2 {
    position: relative;
    margin-top: 80px;
    text-align: center;
    top: 150px;
    left: 400px;
    font-size: 25px;
    font-weight: 900;
    color: #848484;
    
}



/* about section */
#about {
    background: #f7f7f7; 
    padding: 100px 0; 
    height: 800px;}
#about .about_txt {
    float: left;
     width: 700px;}
#about .about_txt h3 {
    margin-top: 50px; 
    font-size: 40px; 
    color : #ff8f2f; 
    border-bottom: 3px solid #ff8f2f;}
#about .about_txt h4 {
    margin-top: 30px; 
    font-size: 45px;}
#about .about_txt p {
    margin-top: 15px; 
    line-height: 25px;}
#about .about_img {
    float: right;
    position: relative;
    left: 200px;
    bottom: 300px;
}

/* banner section */
#banner {
    overflow: hidden; 
    width: 100%; 
    height: 900px;
    position: relative;
    bottom: 100px;
}
#banner > div {
    float: left; 
    width: 50%; 
    height: 100%;}
#banner div.left {
    background: url(../images/leftItem.jpg) no-repeat left fixed;
    padding-right: 350px;}
#banner div.right {
    background: url(../images/rightImg.png) no-repeat right fixed;
    padding-left: 350px;

}
#banner .contents {
    padding-top: 300px; 
    margin: 0 auto; 
    width: 550px;
}
#banner a, #banner p {
    color: #fff; 
    text-align: center;}
    
#banner .tit {
    padding: 20px; 
    font-size: 28px; 
    font-weight: 700;}
#banner .txt {
    padding: 10px; 
    font-size: 17px; 
    line-height: 23px;
    font-weight: 700;}

#banner .link {
    margin-top: 30px;}
#banner .link a {
    padding: 10px 20px; 
    font-size: 20px; 
    border: 1px solid #fff; 
    transition: 0.2s ease-in-out all;}
#banner .link a:hover {
    background: #fff; 
    color: #333; 
    transition: 0.2s ease-in-out all;}

/* product section */
#product {
    text-align: center; 
    background-color: #fff;}
#product h3 {
    text-align: center; 
    font-size: 30px; 
    margin-top: 0px;}
#product p {
    text-align: center;}
#product p.top_txt {
    padding: 15px; 
    font-size: 20px;}
#product li {
    float: left; 
    padding: 30px 10px;}
#product li .img_wrap {
    overflow: hidden; 
    width: 380px; 
    height: 350px;
    border-radius: 3%;}
#product li:hover .img_wrap img {
    transform: scale(1.05); 
    transition: all 0.2s ease-in-out;}
#product li .tit {
    padding: 15px 0 10px; 
    font-size: 20px; 
    font-weight: 600; 
    color: #ff8f2f;}
#product li .about {
    padding: 5px; 
    font-size: 15px; 
    color: #777;}
#product li .price {
    font-size: 17px; 
    font-weight: 700;}
#product .more_view {
    display: inline-block; 
    margin: 80px;}
#product .more_view a {
    display: block; 
    padding: 20px 150px; 
    font-size: 20px; 
    font-weight: 700; 
    border: 1px solid #333; 
    transition: 0.2s ease-in-out all;}
#product .more_view a:hover {
    background: #333; 
    color: #fff; 
    transition: 0.2s ease-in-out all;}

/* footer */
footer { 
    background-color: #f7f7f7;
}
footer .inner{
    padding: 40px 0 60px 0;
  }
footer .menu{
    display: flex;
    justify-content: center;
  }

footer .menu li a{
    color: #232323;
    font-size: 12px;
    font-weight: 700;
    padding: 15px;
    display: block;
  }
footer .menu li a.green{
    color: #669900;
  }

footer .info{
    margin-top: 30px;
    text-align: center;
  }
footer .info span{
    margin-right: 20px;
    color: #999;
    font-size: 12px;
  }
footer .info span:last-child{
    margin-right: 0;
  }