<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
              http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  <servlet-name>UploadServlet2</servlet-name>
  <servlet-class>imageUpload.UploadServlet2</servlet-class>
</servlet>
  <servlet>
  	<servlet-name>registrationAction3</servlet-name>
  	<servlet-class>product.registrationAction3</servlet-class>
  	<description></description>
  </servlet>
	<servlet-mapping>
	  <servlet-name>UploadServlet2</servlet-name>
	  <url-pattern>/UploadServlet2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>registrationAction3</servlet-name>
		<url-pattern>/registrationAction3</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
      <servlet-name>default</servlet-name>
      <url-pattern>/</url-pattern>
      <url-pattern>*.js</url-pattern>
      <url-pattern>*.css</url-pattern>
      <url-pattern>*.jpg</url-pattern>
      <url-pattern>*.png</url-pattern>
      <url-pattern>*.ico</url-pattern>
      <url-pattern>*.swf</url-pattern>
      <url-pattern>*.gif</url-pattern>
   </servlet-mapping>
</web-app>
